* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navigator {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

.nav-list {
  display: flex;
  list-style: none;
}

.list-item {
  margin: 5px 10px;
}

.welcome {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
}

.random-info {
  padding: 20px;
}

.random-title {
  text-align: center;
  padding-y: 0 20px;
}

.random-info-list {
  display: flex;
  justify-content: space-evenly;
}

.random-info-item-img {
  height: 200px;
  width: 200px;
  border: 2px solid #3882f6;
  border-radius: 5px;
}

.random-info-item-caption {
  font-size: 18px;
}

.quote {
  padding: 50px;
}

.quote-author {
  text-align: right;
}

.sign-up-section {
  margin: 50px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.sign-up-section-title h1 {
  font-size: 20px;
}

.sign-up-section-title p {
  font-size: 15px;
}

.sign-up-section-title {
  color: white;
}

header,
footer {
  background-color: #1f2937;
}

.logo,
.welcome-title {
  color: #f9faf8;
}

.nav-logo {
  font-size: 24px;
}

.welcome-tile {
  font-size: 48px;
  font-weight: extra-bold;
}

.welcome-description,
.list-item {
  font-size: 18px;
  color: #e5e7eb;
}

button,
.sign-up-section {
  background-color: #3882f6;
}

// MAIN RANDOM INFO
.random-title {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
}

// MAIN QUOTE
.quote {
  background-color: #e5e7eb;
}

.quote-content {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quote-author {
  font-weight: bold;
  font-size: 20px;
}

// FOOTER
.footer-content {
  color: white;
  text-align: center;
}
